@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text;
  font-family: 'Montserrat', sans-serif;
}

* {
  scroll-behavior: smooth;
}

::selection {
  @apply bg-secondary text-secondary-foreground;
}